@model ErrorViewModel
@{
    ViewData["Title"] = "Website không khả dụng";
}

<h1 class="text-danger">Website không khả dụng.</h1>
<h2 class="text-danger">Trang bạn đang cố truy cập hiện không khả dụng.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>Vui lòng quay lại trang chủ hoặc liên hệ quản trị viên để biết thêm chi tiết.</p>

<a href="@Url.Action("Index", "Home")">Quay về trang chủ</a>
