@model IEnumerable<WebQuanLySinhVien.Models.Khoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên khoa
            </th>
            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            <td>
                <button class="btn btn-primary"> <a asp-action="Edit" asp-route-id="@item.MaKhoa">Sửa</a></button>
                <button class="btn btn-primary"> <a asp-action="Details" asp-route-id="@item.MaKhoa">Chi tiết</a></button>
                <button class="btn btn-danger"> <a asp-action="Delete" asp-route-id="@item.MaKhoa">Xóa</a></button>   
            </td>
        </tr>
}
    </tbody>
</table>
