
@{
    Layout = null;
}

<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form | CoderGirl</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="../../template/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebQuanLySinhVien.styles.css" asp-append-version="true" />
    <script>
        function validatePasswords() {
            var newPassword = document.getElementsByName("newpass")[0].value;
            var confirmPassword = document.getElementsByName("newpass1")[0].value;
            if (newPassword !== confirmPassword) {
                alert("Mật khẩu không giống nhau!");
                return false;
            }
            return true;
        }

    </script>
</head>
<body>
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Tạo lại mật khẩu</header>
            @* <form action="#"> *@
            @using (Html.BeginForm("GuiMaXacNhan", "Access", FormMethod.Post))
            {
                <input type="text" placeholder="Nhập Email của bạn" name="email" id="email" value="@ViewData["Email"]" required>
                @* <input type="button" style="display:inline-block;" class="button" value="Gửi mã xác nhận"> *@
                <input type="submit" typeof="submit" class="button" value="Gửi mã xác nhận">
                <br>
            } 
            @using (Html.BeginForm("EmailConfirm", "Access", FormMethod.Post, new { onsubmit = "return validatePasswords()" }))
            {               
                <input type="text" placeholder="Nhập mã xác nhận" name="verificationCode" required style="margin-top:10px;">
                <input type="password" placeholder="Nhập mật khẩu mới" name="newpass" required>
                <input type="password" placeholder="Nhập lại mật khẩu" name="newpass1" required>
                @* <button type="submit" >Login</button> *@
                <input type="submit" typeof="submit" class="button" value="Xác nhận">
            }

            @* </form> *@   
        </div>
    </div>
</body>
</html>
