
@{
    Layout = null;
}
@model Taikhoan

<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form | CoderGirl</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="../../template/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebQuanLySinhVien.styles.css" asp-append-version="true" />
    <script src="../../template/custom/sweetalert.min.js"></script>
    <style>
        .container {
            max-width: 800px;
            width: 100%;
            padding: 30px;
            margin: auto;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="container">
        @* <input type="checkbox" id="check"> *@
        <div class="login form">
            <header>Đăng nhập</header>
            @* <form action="#"> *@
            @using (Html.BeginForm("Login", "Access", FormMethod.Post))
            {
                @* <input type="text" placeholder="Enter your email"> *@
                @Html.TextBoxFor(x => x.TenDangNhap, new {  placeholder = "Tên đăng nhập", required = "required", autofocus = "autofocus" })
                @*<input type="password" placeholder="Enter your password"> *@
                @Html.TextBoxFor(x => x.MatKhau, new { type = "password", placeholder = "Mật khẩu" })
                <a href="/Access/EmailConfirm">Quên mật khẩu?</a>
                @* <button type="submit" >Login</button> *@
                <input type="submit" typeof="submit" class="button" value="Xác nhận">
            }
            @* </form> *@
            <div class="signup">
                <span class="signup">
                    Chưa có tài khoản?
                    <a href="/Access/Registration">Tạo tài khoản</a>
                </span>
            </div>
        </div>
    </div>
    @if (ViewData["thongbao"] != null)
    {
        <script>
              swal({
                  title: "Lỗi!",
                  text: "@Html.Raw(ViewData["Thongbao"])",
                  icon: "error",
            });
        </script>
    }
    @if (TempData["Message"] != null)
    {
        <script>
              swal({
                  text: "@Html.Raw(TempData["Message"])",
                  icon: "success",
            });
        </script>
    }
</body>
</html>
