@{
    Layout = null;
}
@model Taikhoan


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration | CoderGirl</title>
    <link rel="stylesheet" href="../../template/registration.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebQuanLySinhVien.styles.css" asp-append-version="true" />
    <script>
        function validatePasswords() {
            var password = document.getElementById("MatKhau").value;
            var confirmPassword = document.getElementsByName("confirmPassword")[0].value;
            if (password !== confirmPassword) {
                alert("Passwords do not match!");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="registration form">
            <header>Signup</header>
            @using (Html.BeginForm("Registration", "Access", FormMethod.Post@* , new { onsubmit = "return validatePasswords()" }  *@))
            {
                <input type="text" placeholder="Enter your phone number" name="sdt" required>
                @Html.TextBoxFor(x => x.TenDangNhap, new { placeholder = "Username", required = "required", autofocus = "autofocus" })
                @* <input type="password" placeholder="Create a password" name="password" required> *@
                @* @Html.TextBoxFor(x => x.MatKhau, new { type="pasword", placeholder = "Password", required = "required", @id = "MatKhau" }) *@
                @Html.TextBoxFor(x => x.MatKhau, new { type = "password", placeholder = "Password" })
                <input type="password" placeholder="Confirm your password" name="confirmPassword" required>
                <input type="submit" class="button" value="Signup">
            }
            <div class="signup">
                <span class="signup">
                    Already have an account?
                    <a href="/Access/Login">Login</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
