@model WebQuanLySinhVien.Models.SinhVien
@{
    Layout = null;
}
<h4>Sinh viên</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="editForm" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSv" />
            <div class="form-group">
                <label asp-for="MaLop" class="control-label"></label>
                <select asp-for="MaLop" class="form-control" asp-items="ViewBag.MaLop"></select>
                <span asp-validation-for="MaLop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="GioiTinh" type="radio" value="Nam" /> Nam
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="GioiTinh" type="radio" value="Nữ" /> Nữ
                    </label>
                </div>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NgaySinh" class="control-label"></label>
                        <input asp-for="NgaySinh" type="date" class="form-control" />
                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Sdt" class="control-label"></label>
                        <input asp-for="Sdt" class="form-control" />
                        <span asp-validation-for="Sdt" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdTk" class="control-label"></label>
                        <select asp-for="IdTk" class="form-control" asp-items="@(new SelectList(ViewBag.IdTk, "Value", "Text", null))">
                            <option value="">Chưa có tài khoản</option>
                        </select>
                        <span asp-validation-for="IdTk" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </form>
    </div>
</div>
<script>
    $('#editForm').submit(function(e) {
        e.preventDefault();
        console.log($(this).attr('action'));
        $.post($(this).attr('action'), $(this).serialize(), function(data) {
            if (data.success) {
                $('#actionModal').modal('hide');
                swal({
                    title: "Thành công!",
                    text: data.message,
                    icon: "success"
                }).then(() => {
                    location.reload(); // Reload sau khi đóng thông báo
                 });
                //location.reload();
            } else {
                swal({
                    title: "Lỗi!",
                    text: data.message,
                    icon: "error"
                })
                //$('#modalBody').html(data);
            }
        });
    });
</script>

